/* Hero */
.hero {
	padding-top: 62px;
	padding-bottom: 40px;
	position: relative;
}

.page__hero {
	margin-bottom: 170px;
}
@media (max-width: 1200px) {
	.page__hero {
		margin-bottom: 100px;
	}
}
@media (max-width: 991.98px) {
	.page__hero {
		margin-bottom: 60px;
	}
}
@media (max-width: 767.98px) {
	.page__hero {
		margin-bottom: 50px;
	}
}
@media (max-width: 479.98px) {
	.page__hero {
		padding-top: 50px;
	}
}

.hero__container {
	display: flex;
}
@media (max-width: 1200px) {
	.hero__container {
		row-gap: 30px;
		flex-direction: column;
	}
}
.hero__container::before,
.hero__container::after {
	content: "";
	position: absolute;
	background-color: whitesmoke;
	height: 150%;
	transform-origin: left bottom;
	box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
	width: 200vw;
	border-radius: 50px;
	bottom: 0;
}
.hero__container::before {
	left: calc(50% + 30px);
	transform: skewX(-20deg);
}
.hero__container::after {
	transform: skewX(31deg);
	left: calc(50% + 444px);
}
.hero__content {
	flex: 0 1 50%;
}
.content-hero {
	display: grid;
	align-content: start;

	gap: 30px;
	position: relative;
	z-index: 2;
}
@media (min-width: 1200px) {
	.content-hero {
		padding-right: 20px;
	}
}
@media (min-width: 479.98px) {
	.content-hero {
		justify-items: start;
	}
}
.content__title {
	font-size: 76px;
	font-weight: 800;
	color: #181e4b;
	letter-spacing: -4px;
	line-height: 117.105263%; /* 89/76 */
}
@media (max-width: 991.98px) {
	.content__title {
		font-size: 55px;
	}
}
@media (max-width: 479.98px) {
	.content__title {
		font-size: 42px;
	}
}
.content__title a {
	color: #4475f2;
	text-decoration: underline;
	text-shadow: 0px 0px 8px #fff;
}
.content__title a:hover {
	text-decoration: none;
}
.content-hero__text {
}
.content-hero__text p {
	line-height: 187.5%; /* 30/16 */
}
.content-hero__text p:not(:last-child) {
	margin-bottom: 10px;
}
.content-hero__button {
	text-align: center;
	box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
	border-radius: 10px 10px 10px 10px;
	background-color: #4475f2;
	padding: 18px 54px;
	color: #fff;
	font-weight: 700;
	line-height: 156.25%; /* 25/16 */
	position: relative;
	top: 0;
	transition: all 0.3s;
}
.content-hero__button:hover {
	top: 3px;
	box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
}
.hero__images {
	flex: 0 1 100%;
}
.images-hero {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 27px;
}
.images-hero__item {
}
.images-hero__image {
	border-radius: 10px;
	max-width: 100%; 
    max-height: 100%;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
}
.images-hero__item--01 {
	align-self: center;
	justify-self: end;
	grid-row: span 2;
	padding-bottom: 10px;
}

.images-hero__item--02 {
	align-self: end;
	justify-self: end;
}

.images-hero__item--03 {
	grid-row: span 2;
	align-self: end;
	padding-bottom: 10px;
}

@media (max-width: 1200px) {
	.images-hero {
		align-self: center;
	}
} 